/* IMPOSTAZIONI GENERALI */
body {
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    align-content: center;
    min-width: 450px;
    max-width: 500px;
    margin: auto;
    background-image: url(/assets/img/sfondo.png);
    background-position: center center;

}

/* HEADER */
header {
    background-color: royalblue;
    margin: 5%;
    color: white;
    padding-bottom: 3%;
    font-style: uppercase;
    text-align: center;
    font-weight: 900;
    box-shadow: 0 3px 3px lightgrey;
    }

nav p a {
    text-decoration: none;
    color: white;
}

#title {
    margin: 2%;
    font-weight: bold;
    }

nav {
    margin: 3%;
}

img {
    width: 50%;
    justify-items: center;
    margin: 3%;

}

/* MAIN */

main {
    padding: 6%;
    background-color: white;
    font-weight: 700;

}

video {
    align-content: center;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2px ;
}

.autore {
    color: gray;
    font-weight: 500;
    margin: 8px auto;
}

code {
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;

}
/* ELEMENTI NEL MAIN - ARTICLE */

.testo {
    margin-bottom: 20px;
}

.lista {
    padding-left: 35px;
}

.keyword {
    color: red;
}
/* TABELLE */


.mytable { width:100%; border-collapse:collapse; }
.mytable td { padding:7px; border:#feffff 1px solid; }
.mytable tr { background: #b8d1f3; }
.mytable tr td:nth-child(odd)  { background: #dddfe2; }
.mytable tr td:nth-child(even) { background: #dae5f4; }


/* FORM */

.grassetto {
    font-weight: 600;
    text-align: center;

}

.form {
    background-color: lightgrey;
    height: 80px;
    width: 430px;
    text-align: center;
    margin: 15px auto;
}

/* ELEMENTI NELL' ASIDE */


.box {
    background-color: lightgray;
    margin: 10px auto;
    height: 95px;
    text-align: center;

}


/* FOOTER */

footer {
    margin: 15px auto;
    padding: 10px 10px;
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(54,54,108,1) 40%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bolder;
}

footer div a {
    color: red;
}